# Applications
[submodule "clients/app"]
    path = clients/app
    url = https://github.com/JueViGrace/diva-app.git
    branch = master
[submodule "clients/cli"]
    path = clients/cli
    url = https://github.com/JueViGrace/diva-cli.git
    branch = master
[submodule "clients/pages"]
	path = clients/pages
	url = https://github.com/JueViGrace/diva-web-page.git
    branch = master

# Servers
[submodule "server"]
    path = server
    url = https://github.com/user/diva-server.git
    branch = master

# Documentation
[submodule "testing"]
    path = testing
    url = https://github.com/JueViGrace/diva-testing.git
    branch = master

# Framework
[submodule "framework-kt"]
    path = framework-kt
    url = https://github.com/JueViGrace/diva-framework-kt.git
    branch = master
